<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owl Safe - Dashboard</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/Register">Register</a></li>
          <p>User123</p>
        </ul>
      </nav>
      <h1>Dashboard</h1>
    </header>

    <main>
      <section class="summary">
        <ul>
          <li>Passwords: 0</li>
          <li>Exposed Passwords: 0</li>
          <li>Biometric Authentication: Enabled</li>
        </ul>
      </section>
      <section class="passwords">
        <h2>Passwords</h2>
        <ul>
          <li>Password 1</li>
          <li>Password 2</li>
          <li>Password 3</li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2024 Owl Safe. All rights reserved.</p>
    </footer>
  </body>
</html>
