<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <title>Owl Safe - Login</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    </header>
    <h1>Register</h1>
    <main>
      <form action="/register-form" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Register</button>
        <p class="register">Have an account? <a href="/">Login</a></p>
        <section class="alternative-signin-container">
          <h2>NOT CURRENTLY IMPLEMENTED</h2>
          <ul class="alternative-signin">
            <li><a href="/">Use fingerprint</a></li>
          </ul>
        </section>
      </form>
    </main>
  </body>
</html>
