html,
body {
  background-color: #161925;
  color: white;
  font-family: "Roboto", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #161925;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffcc00;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.container a {
  background-color: #ffcc00;
  color: #161925;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  width: 80%;
  min-width: 80%;
}

.container a:hover {
  background-color: #e6b800;
  transform: translateY(-3px);
}

@media (min-width: 600px) {
  .container a {
    flex-grow: 0;
    margin: 0 10px;
    width: calc(50% - 20px);
  }
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #161925;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-bottom: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#username,
#password {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #161925;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffcc00;
  color: #161925;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
